.calculator {
    width: 300px;
    height: 500px;
}
 
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height:75%;
}

button {
    font-size: 30px;
}
 
#equal {
    grid-row: span 4;
}

.screen {
    background-color: black;
    color: white;
    height: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    font-size: 40px;
    padding-right: 15px;
    padding-bottom: 5px;
}
