* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #9ecadc;
}

.calculator {
    width: 350px;
    height: 500px;
    margin: auto;
    margin-top: 4rem;
    border-radius: 20px;
    background-color: rgb(226, 226, 226);

}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height:75%;
}

button {
    font-size: 30px;
    border: solid 1px rgba(0, 0, 0, 0.377);
    background-color: #fbfbfb;
}

button:hover {
    filter: brightness(105%)
}
 
#equal {
    grid-row: span 4;
    border-radius: 0px 0px 20px 0px;
    background-color: #f78764;
}

.screen {
    background-color: rgb(19, 19, 19);
    color: white;
    height: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    font-size: 40px;
    padding: 15px 20px 15px 20px;
    overflow-x: hidden;
    border-radius: 10px 10px 0px 0px;
}

.zero {
    border-radius: 0px 0px 0px 20px;
}

.operators {
    background-color: #ebebeb;
}
